#blogfile {
	font-size: 23px;
}
#blogfile h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	margin: 0% 4%;
}
#blogfile #section-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#blogfile #section-1 .basic-css {
	font-family: 'Open Sans', sans-serif;
	margin: 0% 4%;
}
#blogfile #section-1 .basic-css #heading-CSS,
#blogfile #section-1 .basic-css #intro-CSS {
	font-family: 'Oswald', sans-serif;
}
#blogfile #section-1 .basic-css #intro-CSS {
	margin-bottom: 3%;
}
#blogfile #section-1 .basic-css ul {
	list-style-type: square;
	margin: 0px 0px 16px 49px;
	color: gray;
}
#blogfile #section-2 .git-basic #heading-git {
	font-family: 'Oswald', sans-serif;
	color: black;
}
#blogfile #section-2 .git-basic p {
	font-family: 'Open Sans', sans-serif;
	margin: 0% 4%;
	color: gray;
}
#blogfile #section-2 .git-basic .config {
	margin: 5%;
}
#blogfile #section-2 .git-basic .config ul {
	background-color: #000;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	margin-bottom: 5%;
	list-style-type: none;
}
#blogfile #section-2 .git-basic .config #config-info {
	font-size: 20px;
	margin: 5%;
	font-family: 'Open Sans', sans-serif;
}
#blogfile #section-3 {
	height: 300px;
}
#blogfile #section-3 p {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 29px;
	background-color: yellow;
	padding: 5px;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	width: 190px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
footer {
	padding: 8px 5%;
	text-align: center;
	background-color: #000;
	color: #fffff1;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
footer a {
	color: #619df8;
	text-decoration: none;
}
@media screen and (max-width: 310px) {
	#blogfile #section-2 ul {
		margin-bottom: 7%;
	}
}
@media screen and (min-width: 620) and (max-width: 900px) {
	#blogfile #section-2 ul {
		margin-bottom: 3%;
	}
}
@media screen and (min-width: 901px) {
	#blogfile #section-2 p {
		font-size: 23px;
	}
	#blogfile #section-2 .config span {
		font-size: 23px;
	}
	#blogfile #section-2 .config ul > li {
		margin: 0 5%;
		width: 600px;
		font-size: 24px;
	}
}
