// very small devices
@media screen and (max-width: 310px) {
	#blogfile {
		#section-2 {
			ul {
				margin-bottom: 7%;
			}
		}
	}
}

@media screen and (min-width: 620) and (max-width: 900px) {
	#blogfile {
		#section-2 {
			ul {
				margin-bottom: 3%;
			}
		}
	}
}

@media screen and (min-width: 901px) {
	#blogfile {
		#section-2 {
			p {
				font-size: 23px;
			}
			.config {
				span {
					font-size: 23px;
				}

				ul > li {
					margin: 0 5%;
					width: 600px;
					font-size: 24px;
				}
			}
		}
	}
}
